<script
  defer
  async
  src="https://cdn-tailwindcss.vercel.app/?plugins=typography"
></script>
<style>
  @font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
      format("woff2");
  }

  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<script type="module">
  let triggeredByEvent = false;
  let isOpen = window.innerWidth > 1024;
  let lastScrollY = 0;
  const aside = document.querySelector("aside");
  const main = document.querySelector("main");
  toggleMenu.addEventListener("click", handleNavigation);
  aside.addEventListener("transitionend", (e) =>
    setTimeout(() => (triggeredByEvent = false))
  );

  openNav(isOpen);

  function handleNavigation() {
    triggeredByEvent = true;
    openNav(!isOpen);
  }

  function openNav(value) {
    if (value) {
      lastScrollY = document.scrollingElement.scrollTop;
    }
    isOpen = value;

    // Rotate Arrows
    Array.from(toggleMenu.children, (i) => {
      i.classList.remove("rotate-90", "-rotate-90");
      i.classList.add(isOpen ? "-rotate-90" : "rotate-90");
    });

    // Transition classes for mobile, hide main content for mobile
    aside.classList.remove("nav-closed");
    if (value) {
      aside.classList.add("w-max");
      if (window.innerWidth < 640) {
        main.classList.add("hidden");
        document.scrollingElement.scrollTop = 0;
      }
    } else {
      aside.classList.remove("w-max", "mobile-nav");
      aside.classList.add("nav-closed");
      setTimeout(() => {
        main.classList.remove("hidden");
        document.scrollingElement.scrollTop = lastScrollY;
      });
    }
  }

  // Little Observer to fix broken state while changeing view
  const resizeObserver = new ResizeObserver((entries) => {
    if (triggeredByEvent) return;

    for (const entry of entries) {
      const width = entry.contentBoxSize
        ? Array.isArray(entry.contentBoxSize)
          ? entry.contentBoxSize[0].inlineSize
          : entry.contentBoxSize.inlineSize
        : entry.contentRect.width;

      if (width >= 640) {
        openNav(true);
      } else {
        openNav(false);
      }
    }
  });

  resizeObserver.observe(document.body);

  // Make Search work
  document
    .querySelector(".form")
    .addEventListener("submit", (e, { target } = e) => {
      e.preventDefault();
      const url = new URL(location.href);
      const params = url.searchParams;
      params.append("search", target.querySelector("input").value);
      params.append("title", "Special:Search");
      params.append("fulltext", "Search");
      window.location = url.toString();
    });

  // Set navigation / UI language when changing article language
  Array.from(document.querySelectorAll(".mw-pt-languages-list a"), a => {
    a.addEventListener("click", () => {
      const lang = a.getAttribute("lang");
      const [cookie] = document.cookie.match(/\w+_mw_language/);
      document.cookie = `${cookie}=${lang}`;
      console.log(`${cookie}=${lang}`)
      location.reload();
    })
  })
</script>
<style type="text/tailwindcss">
  body {
    @apply grid sm:gap-x-5;
    grid-template-areas:
      "head head"
      "aside main";
    grid-template-columns: minmax(0, min-content) 1fr;
  }
  .topline {
    z-index: 2;
    grid-area: head;
  }
  .aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  .nav-closed {
    contain: size layout;
    z-index: 2;
  }
  .nav a {
    @apply ml-4;
  }
  .nav h1 a {
    @apply ml-0;
  }
  article > div {
    @apply relative;
    z-index: 1;
  }
  footer ul:last-of-type {
    @apply flex place-self-end gap-2 justify-evenly;
  }

  @media (min-width: 640px) {
    .nav {
      box-shadow: 1em 0 0 0 #fff, 1.25em 0 0 0 rgba(254, 242, 242, 1);
    }
  }
</style>
<style type="text/tailwindcss">
  /* Styles to fix the template */
  .nav .p-mainpage-description::before {
    content: "home";
  }
  .nav .p-headnav-essentials::before {
    content: "assignment";
  }
  .nav .p-headnav-more::before {
    content: "more_horiz";
  }
  .nav .p-tb::before {
    content: "assignment";
  }
  .nav .p-lang::before {
    content: "language";
  }
  .nav .p-qa::before {
    content: "question_answer";
  }
  .nav .p-contact::before {
    content: "contact_page";
  }
  .nav .p-tb::before {
    content: "handyman";
  }
  .printfooter {
    @apply hidden;
  }
  .mw-pt-languages-list {
    @apply pb-2;
  }
  .mw-pt-languages-list a {
    @apply pt-2;
    color: rgba(11, 18, 27, 0.7);
  }
  .mw-pt-languages-list + .mw-pt-languages-label {
    @apply text-right;
  }
  .mw-parser-output table {
    float: none;
    width: 49% !important;
    display: inline-block;
    margin-bottom: 0;
  }
  .uls-trigger {
    background-size: initial;
    background-position: left center;
  }
</style>

<div class="bg-red-500 w-full h-1 sticky top-0 mb-4 topline"></div>

<aside class="aside ml-2 self-start sticky top-5 mb-8 w-0 bg-white">
  <button
    id="toggleMenu"
    class="flex -space-x-7 filter drop-shadow-2xl bg-white rounded-full"
    aria-label="Toggle Navigation"
  >
    <i
      class="
        material-icons
        transition-all
        transform
        -rotate-90
        filter
        float-right
        !text-4xl
      "
      >expand_less</i
    >
    <i
      class="
        material-icons
        transition-all
        transform
        -rotate-90
        filter
        float-right
        !text-4xl
      "
      >expand_less</i
    >
  </button>

  <nav class="nav overflow-y-auto overflow-x-hidden -space-y-2">
    {{#data-portlets-sidebar.data-portlets-first}} {{>Portlet}}
    {{/data-portlets-sidebar.data-portlets-first}}
    {{#data-portlets-sidebar.array-portlets-rest}} {{>Portlet}}
    {{/data-portlets-sidebar.array-portlets-rest}}
    {{#data-portlets.data-languages}} {{>Portlet}}
    {{/data-portlets.data-languages}}
  </nav>
</aside>

<main
  class="
    px-5
    pb-5
    max-w-3xl
    transition-all
    md:mx-auto
    lg:max-w-4xl
    xl:max-w-6xl
  "
>
  <article>
    <picture>
      <img
        src="/mediawiki/skins/ForTrainingNG/images/4training.png"
        width="650"
        height="101"
        alt="4Training Schriftzug"
      />
    </picture>
    <a href="/" aria-label="Zur Startseite"
      ><img
        class="absolute top-0 filter blur-3xl md:ml-0"
        src="/mediawiki/skins/ForTrainingNG/images/4training.png"
        aria-hidden="true"
        alt=""
    /></a>

    <div class="prose prose-sm my-10 sm:prose lg:prose-lg xl:prose-2xl mx-auto">
      <div class="mb-2 text-right">
        <a href="/de" class="uls-trigger">Deutsch</a>
      </div>

      <form
        class="form isolate clear-both bg-white shadow flex mb-8 h-11"
        action=""
      >
        <span class="w-auto flex justify-end items-center text-gray-500 p-2">
          <i class="material-icons !text-3xl">search</i>
        </span>
        <label class="flex w-full">
          <input
            class="w-full rounded p-2"
            type="search"
            placeholder="Suche 'Schritte der Vergebung'"
          />
        </label>
        <button
          class="
            bg-red-300
            hover:bg-red-200
            rounded
            ml-1
            py-2
            px-4
            text-lg text-red-900
          "
        >
          Search
        </button>
      </form>

      <h1 {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
      {{{html-body-content}}}

      <p class="text-center text-xl">
        <i class="material-icons align-middle">
          rate_review
        </i>
        <a class="!text-blue-400" href="/Special:contact"
          >Hast du noch Fragen oder Feedback? Komm mit uns ins Gespräch!</a
        >
      </p>
    </div>
  </article>
</main>

<footer class="grid p-8 bg-gray-300 col-span-2">

  {{#data-footer}}
    <div id="place-self-center text-xl">
      {{#data-info}}{{>FooterList}}{{/data-info}}
      <span class="mt-2"><a href="/Special:UserLogin">Login</a></span>
      {{#data-places}}{{>FooterList}}{{/data-places}} 
    </div>

    {{#data-icons}}
      {{>FooterList}}
    {{/data-icons}}
  {{/data-footer}}
</footer>
